/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  vertical-align: top;
}

body {
  padding: 20px;
  font-family: sans-serif;
  overflow-y: scroll;
}

h2 {
  margin: 0 0 20px 0;
}

span.small {
  font-size: 60%;
  vertical-align: middle;
}

#url {
  margin: 0 0 20px 0px;
  display: block;
  input {
    &[type=text] {
      border: solid 1px #666;
      width: 85%;
      margin: 0 auto;
      font-size: 2em;
      text-align: left;
    }
    &[type=submit] {
      display: none;
    }
  }
  #options {
    float: right;
    line-height: 25px;
    width: 13%;
    input {
      margin-top: 5px;
    }
  }
}

#frames {
  overflow-x: scroll;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.frame {
  margin-right: 20px;
  float: left;
  &:last-child {
    margin-right: 0;
  }
  img {
    display: none;
    vertical-align: middle;
  }
}

iframe {
  border: solid 1px #000;
}

.widthOnly {
  height: 580px;
  h2 span {
    display: none;
  }
  iframe {
    height: 500px;
  }
}