<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Responsive design testing for the masses">
	<title>Responsive Design Testing</title>
	<%#= stylesheet_link_tag 'screen' %>
	<link href="./stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body id="container">
	<div id="url">
		<form method="post">
			<input type="text" placeholder="Test your own site... type the url and hit enter" />
			<input type="submit" value="submit">
			<div id="options">
				<label for="normal"><input id="normal" type="radio" name="option" value="1" checked="checked">Width only</label><br />
				<label for="accurate"><input id="accurate" type="radio" name="option" value="2">Device sizes</label>
			</div>
		</form>
	</div>
	<div id="frames" class="widthOnly">
		<div id="inner">
			<!-- <div id="f1" class="frame">
				<h2>240<span> x 320</span> <span class="small">(small phone)</span> <img src="loader_large.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="255" height="320"></iframe>
			</div>                                                                                                                         -->
			<div id="f2" class="frame">                                                                                                   
				<h2>320<span> x 480</span> <span class="small">(iPhone Portrait)</span> <img src="loader_large.gif" /></h2>                   
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="335" height="480"></iframe>
			</div>                                                                                                                        
			<div id="f2-1" class="frame">                                                                                                   
				<h2>480<span> x 320</span> <span class="small">(iPhone Landscape)</span> <img src="loader_large.gif" /></h2>                   
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="480" height="335"></iframe>
			</div>                                                                                                                        
			<!-- <div id="f3" class="frame">                                                                                                   
				<h2>480<span> x 640</span> <span class="small">(small tablet)</span> <img src="loader_large.gif" /></h2>                   
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="495" height="640"></iframe>
			</div>                                                                                                                         -->
			<!-- <div id="f4" class="frame">                                                                                                   
				<h2>768<span> x 1024</span> <span class="small">(iPad - Portrait)</span> <img src="loader_large.gif" /></h2>                   
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="783" height="1024"></iframe>
			</div> -->
			<div id="f5" class="frame">
				<h2>1024<span> x 768</span> <span class="small">(iPad - Landscape)</span> <img src="loader_large.gif" /></h2>
				<iframe sandbox="allow-same-origin allow-forms allow-scripts" seamless width="1039" height="768"></iframe>
			</div>
		</div>
	</div>
	<span style="font-size:0.5em;">A tool by <a href="http://mattkersley.com">Matt Kersley</a> - <a href="https://github.com/mattkersley/Responsive-Design-Testing">Fork it on Github</a></span><br />
	<span style="font-size:0.5em;">Note: The content width may not be pixel perfect - I have added 15px to the iframes to cater for the scrollbars</span>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script src="./javascripts/responsive.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {
			
			// extend titles to hide unused screen sizes
			$('#inner .frame').each(function () {/*
				$(this).prepend('\
				<lable for="'+$(this).attr('id')+'_show">\
				<input \
					type="checkbox" \
					value="'+$(this).attr('id')+'" \
					id="'+$(this).attr('id')+'_show" \
					data-role="'+$(this).attr('id')+'" \
					class="id_show" \
					/>&nbsp;'+$(this).attr('id')+'\
				</lable>');
				*/
				$(this).find('iframe').attr('id', $(this).attr('id')+'_iframe');
			});
			$('#inner .frame h2').each(function (i, e) {
				$(e).bind('click', function () {
					$(this).toggleClass('small');
					$(this).next('iframe').toggle();
				})
			});
			$('#accurate').trigger('click');

		});
	</script>
	<script>document.write('<script src="http://127.0.0.1:35729/javascripts/livereload.js?host=127.0.0.1"></' + 'script>')</script>

</body>
</html>
